/* Your Website Styles */
h1 {
	color: #602054;
	font-family: 'Bitter', serif;
	width: 200px;
	padding: 10px;
	border: 10px solid #80A437;
	margin: 0px 0px 0px 100px;
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

body{
	background: url("../img/bg.png") repeat;
}

/* I like the color #8E2F8C and #80A437  */