/* Your Website Styles */
h1 {
	color: #8A2626;
	font-family: 'Bitter', serif;
	width: 99%;
	padding: 10px 0px 10px 10px;
	background: #A8A8B2;
	margin: 0px 0px 0px 0px;
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

body{
	background: #4B6987;
}

/* I like the color #8E2F8C and #80A437  */

h2 {
	color: #8A2626;
	font-family: 'Bitter', serif;
	width: 200px;
	padding: 10px;
	margin: 0px 0px 0px 100px;
	font-position: center;
}

h3 {

	color: #8A2626;
	font-family: 'Bitter', serif;
	width: 200px;
	padding: 10px;
	margin: 0px 0px 0px 100px;
	font-position: center;
}


a:link {
	list-style:none;
}


ul {
	list-style:none;
}

#me { 
	padding: 20px 0px 20px 20px;
}

#me img {
		width: 550px;
}


#box {
	background:#A8D3F3;
}

#info {
padding: 10px 10px 10px 10px;
}